.container {
    text-align: center;
    color: darkslategray;
}

.main-banner {
    border-radius: 25px;
    min-width: 400px;
    min-height: 500px;
    background-image: url(../images/Headshotb.png),
    radial-gradient(circle, rgba(103,102,105,1) 4%, rgba(119,74,142,0.8071603641456583) 96%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

/*Carousel Styling*/

.carousel {
    width: 50%;
    margin: auto;
}

.performance-image-carousel {
    margin: 2rem;
}

/*Media Page Youtube Video Div Styling*/

h2 {
    text-align: center;
}

.performance-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video {
    width: 465px;
    border: 1px solid black;
    background-color: lightyellow;
    color: #121212;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/*Footer Styling*/

.footer {
    width: 100%;
    overflow: auto 0;
}

.footer li {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    width: 23%;
    text-align: center;
    list-style-type: none;
}

.footer a {
    text-decoration: none;
    color: darkslategray;
}

.footer a:hover {
    color: rgba(119,74,142);
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}