.container {
    position: relative;
    text-align: center;
    color: darkslategray;
}

.main-banner {
    border-radius: 25px;
    min-width: 400px;
    min-height: 500px;
    background-image: url(../images/Headshotb.png),
    radial-gradient(circle, rgba(103,102,105,1) 4%, rgba(119,74,142,0.8071603641456583) 96%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.main-banner h1 {
    vertical-align: center;

   
}

/*Carousel Styling*/

.carousel {
    width: 50%;
    height: 500px;
    margin: auto;
}

